
<mat-card *ngIf="item" class="!m-auto !border-2 !border-black max-w-md min-h-[396px]">
    <mat-card-content class="!p-0 relative bg-gray-950">
        <div class="flex justify-center">
            <a mat-button [routerLink]="['../', item.title]" (click)="selectMovie(item)">
                <span class="text-lg font-semibold font-dosissansserif">Play Now</span>
            </a>
        </div>
        <div class="absolute m-3 rounded-md bg-gray-800 w-auto flex items-center px-3">
            <mat-icon class="text-yellow-400">star</mat-icon>
            <ng-container  *ngIf="item.rate?.split('/') as splitItem">
                <span class="ml-2 text-lg">{{ splitItem?.[0] }} / </span><span class="text-base">{{ splitItem?.[1] }}</span>
            </ng-container>
        </div>
        <div class="w-full h-full">
            <img class="object-cover" src="./assets/images/movies/{{item.imageName}}">
        </div>
    </mat-card-content>
    <mat-card-footer class="py-2 text-center flex justify-between items-center bg-gray-950">
        <div class="mx-10">
            <h2 class="text-lg font-semibold font-dosissansserif">{{ item.title }}</h2>
        </div>
        <button
            (click)="requestUpdateWatchList(item)" 
            mat-icon-button aria-label="add or remove watchlist" 
            [pTooltip]="!item.isWatchList ? 'Add to watch list' : 'Remove from watch list'">
            <mat-icon *ngIf="item?.isWatchList">check</mat-icon>
            <mat-icon *ngIf="!item?.isWatchList">add</mat-icon>
        </button>
    </mat-card-footer>
  </mat-card>