.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #212121;
    padding: 1rem 0rem 1rem;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    p {
      font-size: 15px;
      line-height: 1;
    }
  }
  