body {
    font-family: @apply font-nunitosanserif;
    font-size: @apply text-xs;
    line-height: $base-line-height;
    font-weight: @apply font-normal;
    color: @apply text-white;
    background-color: @apply !bg-base;
    margin: @apply m-0;
    border: 1px solid red;
}
a {
  text-decoration: @apply no-underline;
  color: @apply text-cs_anchor;
}



p {
  font-family: @apply font-nunitosanserif;
  font-size:  @apply text-xs;
  color: @apply text-cs_gray;
  font-weight: @apply font-light;
  text-transform: none;
}


::-moz-selection {
  text-shadow: none;
  background: #b3d4fc;
}

::selection {
  text-shadow: none;
  background: #b3d4fc;
}

/**
* A better looking default horizontal rule
*/

hr {
  display: block;
  height: 1px;
  padding: 0;
  margin: 1em 0;
  border: 0;
  border-top: 1px solid #ccc;
}

/**
* Remove the gap between audio, canvas, iframes,
* images, videos and the bottom of their containers:
* https://github.com/h5bp/base5-boilerplate/issues/440
*/

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/**
* Remove default fieldset styles.
*/

fieldset {
  padding: 0;
  margin: 0;
  border: 0;
}

/**
* Allow only vertical resizing of textareas.
*/

textarea {
  resize: vertical;
}

/**
* Responsive images
*/

img {
  display: inline-block;
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  -ms-interpolation-mode: bicubic;
}

table {
  width: 100%;
  border-collapse: collapse;

  th,
  td {
    padding: 0.5rem 0;
    text-align: left;
  }
}