<ng-container *ngIf="item; else noData">
    <section class="text-gray-600 body-font h-screen flex bg-svg-constellation-gray-100 relative">
        <div class="container mx-auto flex px-2 py-5 items-center justify-center flex-col">
          <div class="lg:w-2/3 w-full animate-fade-in-down">
            <h1 class="name">
              {{item.title}}
            </h1>
            <p class="mt-5 mb-5 md:leading-relaxed leading-normal text-white tracking-tight text-xl">
              {{ item.description }}
            </p>
            
            <div class="mb-5 flex flex-col gap-2">
              <div class="flex gap-x-4">
                <p class="text-base text-zinc-400 font-semibold leading-8">Rating:</p>
                <div class="text-lg text-white flex">
                  <mat-icon class="text-yellow-400 text-3xl">star</mat-icon>
                  <p  *ngIf="item.rate?.split('/') as splitItem">
                    <span class="ml-2 text-lg">{{ splitItem?.[0] }} / </span><span class="text-base">{{ splitItem?.[1] }}</span>
                  </p>
               
                </div>
              </div>
              <div class="flex gap-x-4">
                <p class="text-base text-zinc-400 font-semibold leading-8">Duration:</p>
                <p class="text-lg text-white ">{{ item.duration }}</p>
              </div>
              <div class="flex gap-x-4">
                <p class="text-base text-zinc-400 font-semibold leading-8">Genre:</p>
                <p class="text-lg text-white ">{{ item.genre }}</p>
              </div>
              <div class="flex gap-x-4">
                <p class="text-base text-zinc-400 font-semibold leading-8">Release Date:</p>
                <p class="text-lg text-white ">{{ item.releaseDate }}</p>
              </div>
              <div class="flex gap-x-4">
                <p class="text-base text-zinc-400 font-semibold leading-8">Review:</p>
                <p class="text-lg text-white ">{{ item.review }}</p>
              </div>
            </div>
            <div class="flex gap-x-4 items-center content-center">
              <button mat-flat-button color="accent" (click)="requestPlayTrailer(item.trailerLink)"><span class="text-lg font-semibold">Play Trailer</span></button>
            <button
            class="!text-white"
            (click)="requestUpdateWatchList(item)" 
            mat-icon-button aria-label="add or remove watchlist" 
            [pTooltip]="!item.isWatchList ? 'Add to watch list' : 'Remove from watch list'">
            <mat-icon *ngIf="item?.isWatchList">check</mat-icon>
            <mat-icon *ngIf="!item?.isWatchList">add</mat-icon>
          </button>
            </div>
          </div>
        </div>
        <div class="w-full h-screen">
          <img class="object-cover" src="./assets/images/movies/{{item.imageName}}">
        </div>
      </section>
</ng-container>

<ng-template #noData>
    <p>No Data</p>
</ng-template>
