

<app-movie-slider
    [movies]="movies()"
></app-movie-slider>


<!-- <section>
    <button (click)="requestSortBy('title')">Sort by title</button>
    <button (click)="requestSortBy('releaseDate')">Sort by release date</button>
    <p>Movie List</p>
    <ul *ngIf="movies() as movies">
        <li *ngFor="let movie of movies">{{ movie.title }} 
            <span *ngIf="movie.isWatchList" style="color: gray; padding-right: 2rem">On my watchlist</span>
            <button (click)="requestModifyWatchList(movie)">Add to watchlist</button>
            <a 
            [routerLink]="['../', movie.title]" 
            (click)="requestShowDetails(movie)">Show Info</a>
        </li>
    </ul>
</section> -->
